<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.dao.ProviderMapper">
  <resultMap id="BaseResultMap" type="com.generate.pojo.Provider">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="proCode" jdbcType="VARCHAR" property="proCode" />
    <result column="proName" jdbcType="VARCHAR" property="proName" />
    <result column="proDesc" jdbcType="VARCHAR" property="proDesc" />
    <result column="proContact" jdbcType="VARCHAR" property="proContact" />
    <result column="proPhone" jdbcType="VARCHAR" property="proPhone" />
    <result column="proAddress" jdbcType="VARCHAR" property="proAddress" />
    <result column="proFax" jdbcType="VARCHAR" property="proFax" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, proCode, proName, proDesc, proContact, proPhone, proAddress, proFax, createdBy, 
    creationDate, modifyDate, modifyBy
  </sql>
  <select id="selectByExample" parameterType="com.generate.pojo.ProviderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from smbms_provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smbms_provider
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from smbms_provider
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.generate.pojo.ProviderExample">
    delete from smbms_provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.Provider">
    insert into smbms_provider (id, proCode, proName, 
      proDesc, proContact, proPhone, 
      proAddress, proFax, createdBy, 
      creationDate, modifyDate, modifyBy
      )
    values (#{id,jdbcType=BIGINT}, #{proCode,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, 
      #{proDesc,jdbcType=VARCHAR}, #{proContact,jdbcType=VARCHAR}, #{proPhone,jdbcType=VARCHAR}, 
      #{proAddress,jdbcType=VARCHAR}, #{proFax,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.Provider">
    insert into smbms_provider
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="proCode != null">
        proCode,
      </if>
      <if test="proName != null">
        proName,
      </if>
      <if test="proDesc != null">
        proDesc,
      </if>
      <if test="proContact != null">
        proContact,
      </if>
      <if test="proPhone != null">
        proPhone,
      </if>
      <if test="proAddress != null">
        proAddress,
      </if>
      <if test="proFax != null">
        proFax,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="creationDate != null">
        creationDate,
      </if>
      <if test="modifyDate != null">
        modifyDate,
      </if>
      <if test="modifyBy != null">
        modifyBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="proCode != null">
        #{proCode,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proDesc != null">
        #{proDesc,jdbcType=VARCHAR},
      </if>
      <if test="proContact != null">
        #{proContact,jdbcType=VARCHAR},
      </if>
      <if test="proPhone != null">
        #{proPhone,jdbcType=VARCHAR},
      </if>
      <if test="proAddress != null">
        #{proAddress,jdbcType=VARCHAR},
      </if>
      <if test="proFax != null">
        #{proFax,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.generate.pojo.ProviderExample" resultType="java.lang.Long">
    select count(*) from smbms_provider
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update smbms_provider
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.proCode != null">
        proCode = #{record.proCode,jdbcType=VARCHAR},
      </if>
      <if test="record.proName != null">
        proName = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.proDesc != null">
        proDesc = #{record.proDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.proContact != null">
        proContact = #{record.proContact,jdbcType=VARCHAR},
      </if>
      <if test="record.proPhone != null">
        proPhone = #{record.proPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.proAddress != null">
        proAddress = #{record.proAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.proFax != null">
        proFax = #{record.proFax,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        createdBy = #{record.createdBy,jdbcType=BIGINT},
      </if>
      <if test="record.creationDate != null">
        creationDate = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null">
        modifyDate = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyBy != null">
        modifyBy = #{record.modifyBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update smbms_provider
    set id = #{record.id,jdbcType=BIGINT},
      proCode = #{record.proCode,jdbcType=VARCHAR},
      proName = #{record.proName,jdbcType=VARCHAR},
      proDesc = #{record.proDesc,jdbcType=VARCHAR},
      proContact = #{record.proContact,jdbcType=VARCHAR},
      proPhone = #{record.proPhone,jdbcType=VARCHAR},
      proAddress = #{record.proAddress,jdbcType=VARCHAR},
      proFax = #{record.proFax,jdbcType=VARCHAR},
      createdBy = #{record.createdBy,jdbcType=BIGINT},
      creationDate = #{record.creationDate,jdbcType=TIMESTAMP},
      modifyDate = #{record.modifyDate,jdbcType=TIMESTAMP},
      modifyBy = #{record.modifyBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.Provider">
    update smbms_provider
    <set>
      <if test="proCode != null">
        proCode = #{proCode,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        proName = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proDesc != null">
        proDesc = #{proDesc,jdbcType=VARCHAR},
      </if>
      <if test="proContact != null">
        proContact = #{proContact,jdbcType=VARCHAR},
      </if>
      <if test="proPhone != null">
        proPhone = #{proPhone,jdbcType=VARCHAR},
      </if>
      <if test="proAddress != null">
        proAddress = #{proAddress,jdbcType=VARCHAR},
      </if>
      <if test="proFax != null">
        proFax = #{proFax,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        createdBy = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        creationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modifyBy = #{modifyBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.Provider">
    update smbms_provider
    set proCode = #{proCode,jdbcType=VARCHAR},
      proName = #{proName,jdbcType=VARCHAR},
      proDesc = #{proDesc,jdbcType=VARCHAR},
      proContact = #{proContact,jdbcType=VARCHAR},
      proPhone = #{proPhone,jdbcType=VARCHAR},
      proAddress = #{proAddress,jdbcType=VARCHAR},
      proFax = #{proFax,jdbcType=VARCHAR},
      createdBy = #{createdBy,jdbcType=BIGINT},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>